<div>
<p>******** Now your results ********</p>
<p>Your word: <%= @answer %></p>
<p>Time Taken to answer: <%= @total_time %></p>
<p> Your score: <%= @score %></p>
<p>Message: <%= @answer %></p>
</div>


<!--
********* Welcome to the longest word-game! *********
Here is your grid:
Q F M R K L I T P
*****************************************************
What is your longest word?
lift
******** Now your results ********
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! -->



<!-- <div class="uno">
  <p><%= @message %></p>
  <p>-You</p>
</div>

<div class="dos">
  <p><%= @ans %></p>
  <p>-Your coach</p>
</div>
<a href="http://localhost:3000/ask">Ask a new question!</a>
 -->
